@font-face {
    font-family: Proxima Nova;
    src: url(fonts/Proxima Nova Thin.otf);
    font-weight: 100;
}

@font-face {
    font-family: Proxima Nova;
    src: url(fonts/Proxima Nova ScOsf Regular.otf);
    font-weight: 200;
}

@font-face {
    font-family: Proxima Nova;
    src: url(fonts/Proxima Semibold.otf);
    font-weight: 300;
}

@font-face {
    font-family: Proxima Nova;
    src: url(fonts/Proxima Nova Bold.otf);
    font-weight: 400;
}

.logo {
    position: absolute;
    width: 140px;
    top: 5px;
    left: 2%;
}

.fb-button {
    position: absolute;
    top: 35px;
    right: 4%;
}

.welcome {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #D55656;
}

.artist-text {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 24px;
    font-weight: 100;
    color: #4F4F4F;
}